@page "/Testmap"
@using Shared.form
@rendermode InteractiveAuto
@inject IJSRuntime JsRuntime;

@foreach(var donchung in allDon)
{
    <div style="width:500px;border: 1px solid #000;padding: 10px;" class="row">
        <strong style="color:red">@donchung.nguoi.Hoten</strong>
        <div class="col-sm-6">
            <p>SDT: @donchung.nguoi.SDT</p>
            <p style="color:red">Giới tính: @donchung.nguoi.Gioitinh</p>
        </div>
        <div class="col-sm-6">
            <p>Email: @donchung.nguoi.Email</p>
        </div>
        <p>Địa chỉ: @donchung.diachi</p>
        
        <button>Đóng</button><button>Thêm</button>
    </div>
}
@code {
    protected static int ia { get; set; } = 0;
    public List<DonXetNghiem> AllDXN { get; set; } = new();
    public List<Don> allDon { get; set; } = new();

    private string? namesave;
    protected override async Task OnInitializedAsync()
    {
        await LoadDon();
        
    }
    public async Task LoadDon()
    {
        AllDXN.Clear();
        var DXN = await DXNservice.getallAsync();
        if (DXN is null) return;
        foreach (var student in DXN)
        {
            if (student.Trangthai == "Đã Chuyển Tiền")
            {
                AllDXN.Add(student);
            }
        }
        allDon.Clear();
        foreach (var donxn in AllDXN)
        {
            var us = await Usertservice.getuserbyid(donxn.UserId);
            string dc = us.Diachi + ", " + us.CapXa + ", " + us.CapHuyen + ", Thừa Thiên Huế";
            Don a = new()
                {
                    dxn = donxn,
                    diachi = dc,
                    nguoi = us,
                };
            allDon.Add(a);
        }
    }

}

